import(methods)

importFrom("rEMM", "prune")
import(Biostrings)

import(BioTools)

import(foreach)
importFrom("caTools", "base64decode", "base64encode")

export( 
	getModelDetails,
	getModelSequences,
	getSequences, ### replaces BioTools
	
	NSVSet,
	createNSVSet,
	createNSVTable,
	dropNSVTable,
	getNSVs,
	
	GenModel,
	GenModelDB,
	processSequences,
	
	scoreSequence,
	
	GenClassifier,
	removeGenClassifier,
	trainGenClassifier,
	
	
	### Greengenes
	#createRDPTraining
	#validateModels,

	modelStatesPlot,
	modelStatesBarPlot,
	modelStatesLinePlot,
	compareSequences,
	findLargestCommon

)


S3method(print, NSVSet)
S3method(plot, NSVSet)
S3method("[", NSVSet)
S3method(print, GenModel)
S3method(plot, GenModel)
S3method(predict, GenClassifier)
S3method(print, GenClassifier)
