import(Biostrings)
import(DBI)
import(RSQLite)
import(seqLogo)

importFrom(proxy, dist)
importFrom(ape, dist.dna, as.DNAbin)

export( 
	BiostringsTools_Software_Wizard,
  
  ### clustal
	clustal,
	clustal_help,
#	clustal_profile,
	
	### kalign
	kalign,
	kalign_help,

  ### mafft
  mafft,
  mafft_help,
  
  ### MUSCLE
  MUSCLE,
  MUSCLE_help,
  
	### RDP
	RDP,
	trainRDP,	
	removeRDP,	
	findAccuracy,
	
	### SimRank
	simRank,

	### BLAST
	BLAST,
	BLAST_help,

	### boxshade
	boxshade,
	boxshade_help,

	### visualizations for BioStrings
	plot.DNAStringSet,
	plot.DNAMultipleAlignment,
	plot.RNAStringSet,
	plot.RNAMultipleAlignment,

	### GenDB
	GenClass16S,
	GenClass16S_Greengenes,
	Annotation_Greengenes,
	Annotation_RDP,
	Annotation_Id,
	
	addSequences,
	createGenDB,
	openGenDB,
	reopenGenDB,
	closeGenDB,
	listGenDB,
	metaGenDB,
  dropTableGenDB,

	getTaxonomyNames,
	getRank,
	getIDs,
	getHierarchy,

	nSequences,
	getSequences,

  random_sequences,
  mutations,
  
  distNSV,  
  distSimRank,
  distApe,
  distKMer,
  distCV,
  distFFP,
  distEdit,
  distAlignment,
  
  s2c,
  c2s,
  .pmatchRank,
  .getWhere
  
  )

S3method(print, RDPClassifier)
S3method(predict, RDPClassifier)

S3method(print, BLAST)
S3method(predict, BLAST)

S3method(print, GenDB)


