importFrom("rEMM", "prune")

export( 
	GenClass16S,
	addSequences,
	createGenDB,
	openGenDB,
	reopenGenDB,
	closeGenDB,
	listGenDB,
	metaGenDB,
	
	getTaxonomyNames,
	getRank,
	getHierarchy,
	
	nSequences,
	getSequences,
	
	getModelDetails,
	getModelSequences,
	
	createNSVSet,
	createNSVTable,
	dropNSVTable,
	
	GenModel,
	GenModelDB,
	processSequences,
	createModels,
	classify,
	validateModels,
	scoreSequence,

	clustal,
	simRank,
	
	plot.DNAStringSet,
	plot.DNAMultipleAlignment,
	modelStatesPlot,
	compareSequences,
	findLargestCommon,
	
	### Greengenes
	GenClass16S_Greengenes,
	GreengenesMetaDataReader,
	randomizeGenDB
)

import(Biostrings)

S3method(print, GenDB)
S3method(print, NSVSet)
S3method(plot, NSVSet)
S3method("[", NSVSet)
S3method(print, GenModel)
S3method(plot, GenModel)
