
export( 
	GenClass16S,
	addSequences,
	createGenDB,
	openGenDB,
	closeGenDB,
	listGenDB,
	metaGenDB,
	
	getClassification,
	getRank,
	getHierarchy,
	
	nSequences,
	getSequences,
	
	getClusteringDetails,
	getClusteringSequences,
	
	createNSVSet,
	createNSVTable,
	dropNSVTable,
	
	GenModel,
	GenModelDB,
	processSequences,
	createModels,
	classify,
	validateModels,
	scoreSequence,
	
	clustal,
	simRank,
	
	plot.DNAStringSet,
	#seqLogo.DNAStringSet,
	modelStatesPlot,
	compareSequences,
	findLargestCommon,
	
	### Greengenes
	GenClass16S_Greengenes,
	GreengenesMetaDataReader
)

import(Biostrings)

S3method(print, GenDB)
S3method(print, NSVSet)
S3method(plot, NSVSet)
S3method(print, GenModel)
S3method(plot, GenModel)
